<div class="flex flex-col">
  <h1 class="text-center">Pokédex</h1>

  <button (click)="exportPokemons()">Export Pokemons</button>

  <ul class="flex flex-wrap justify-center gap-4 w-4/6 self-center">
    <li *ngFor="let pokemon of pokemons" class="flex flex-col items-center">
      <img
        ngSrc="{{ pokemon.sprites.other['official-artwork'].front_default }}"
        width="250" height="250"
      />
      <span>{{ pokemon.name }}</span>
    </li>
  </ul>

  <button (click)="loadMore()">Load More</button>
</div>

<router-outlet></router-outlet>
